   
*{
    margin: 0;
}
   
.countainer{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;   


    .card{
        width: 400px;
        height: 200px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
        .image{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 100px;
        
            img{
                width: 100%;
                height: 100%;
            }
        }
       
    }

    .about{
        padding: 20px 10px;
    }


  
}



